extends layout

block content
  table.sortable
    thread
      tr
        th(data-sort="name")Genre
        th(data-sort="name")Title
        th(data-sort="duration")Duration
        th(data-sort="data")Date
    tbody
      tr
        td Animation
        td Wildfood
        td 3:47
        td 2014-07-16
      tr
        td Film
        td The Deer
        td 6:24
        td 2013-04-10
